body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration:none;
  text-decoration-color: none;
}

/* a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
} */

/* .link{
  display: inline-block;
  text-decoration: none;
  margin-right: 20px;
  color: blue;
}

.active {
  composes: link;
  color: #55f026;
}


.isActive{
  color: #55f026;
}

.active-class {
  color: red;
}  */